/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './assets/animations.css';
/* Custom Scrollbar & Base Styling */
body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: #FFF8E1;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
}
::-webkit-scrollbar-thumb {
  background-color: #800000;
  border-radius: 4px;
}
